html,
body {
  margin: 25px;
  font-family: sans-serif; }

ul {
  margin: 0;
  padding: 20px;
  list-style: none;
  border: 1px solid black; }
  ul li {
    border: 1px solid black;
    cursor: hand;
    padding: 10px;
    margin: 5px;
    background-color: #EEE;
    text-transform: uppercase; }
